# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Environment variables
.env.*
*.env

# Database
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Redis dump (if any)
dump.rdb

# Migrations (optional if you use Alembic later)
migrations/__pycache__/

# Secrets
*.pem
*.key